<template>
  <div>
    <div class="d-flex justify-content-between align-items-center py-2">
      <span>Home</span>
    </div>

    <hr>
    <div class="d-flex justify-content-between mb-3">
      <h1>Users</h1>
      <b-form-select v-model="userSortField" v-bind:options="['name','email','phone']" class="w-50 mx-4"/>
      <b-form-input class="w-50" v-model='userFilter' placeholder="Enter name or email for filtered"/>
    </div>


    <transition-group name="list" tag="div" class="row">
      <div class="col-4" v-for="user of sortedUsers" :key="user.id">
        <VUserCard v-bind="user" @edit="showUserEditModal"/>
      </div>
    </transition-group>
    <b-modal id="userEditModal"
             :title="`Edit user (${editUser.name})`"
             ok-title="Save"
             v-on:ok="saveUser">
      <form>
        <b-form-group
            label="Name"
            label-for="name"
        >
          <b-form-input
              id="name"
              v-model="editUser.name"
              required
          />
        </b-form-group>
        <b-form-group
            label="Email"
            label-for="email"
        >
          <b-form-input
              id="email"
              v-model="editUser.email"
              type="email"
              required
          />
        </b-form-group>
        <b-form-group
            label="Phone"
            label-for="phone"
        >
          <b-form-input
              id="phone"
              v-model="editUser.phone"
              type="tel"
              required
          />
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<script>
import VUserCard from "@/components/VUserCard";
import {getUsers, updateUser} from "@/axios/users";

export default {
  name: "Home",
  components: {VUserCard},
  data: () => ({
    userFilter: '',
    userSortField: 'name',
    users: [],
    editUser: {},
  }),
  created() {
    this.getUsers()
  },
  computed: {
    filteredUsers() {
      return this.users.filter(user => user.name.toLowerCase().includes(this.userFilter.toLowerCase()) ||
          user.email.toLowerCase().includes(this.userFilter.toLowerCase()))
    },
    sortedUsers() {

      return [...this.filteredUsers].sort((u1, u2) => {
        return u1[this.userSortField] > u2[this.userSortField] ? 1 : -1
      })
    }
  },

  methods: {
    getUsers() {
      getUsers(this.$http)
          .then(users => this.users = users)
    },
    // eslint-disable-next-line no-unused-vars
    showUserEditModal(userId) {
      this.editUser = {...this.users.find(u => u.id === userId)}

      this.$bvModal.show('userEditModal')
    },
    saveUser() {
      updateUser(this.$http, `/users/${this.editUser.id}`, {
        name: this.editUser.name,
        email: this.editUser.email,
        phone: this.editUser.phone,
      })
          .then(users => this.users = users)
          .catch(e => alert(e.toString()))
    },
  }
}
</script>

<style scoped>

</style>