<template>
  <div>
    <div class="d-flex justify-content-between align-items-center py-2">
      <span>User</span>
      <!--      //TODO: перехід на рівень вище з юзера в рщьу-->
      <b-button @click="$router.back()">
        <b-icon-arrow-left/>
      </b-button>
    </div>

    <hr>
    <h1>{{ user.name }}</h1>
    <hr>
    <div class="row">
      <div class="col">
        <h3>Posts</h3>
        <v-list
            :items="posts"
            field-text="title">
        </v-list>
      </div>
      <div class="col">
        <h3>Album</h3>
        <v-list :items="albums"
                field-text="title"
        />
      </div>
      <div class="col">
        <h3>Todos</h3>
        <v-list :items="todos"
                field-text="title"
        />
      </div>
    </div>

  </div>
</template>

<script>
import VList from "@/components/VList";
import {getPostsByUserId} from "@/axios/posts";
import {getAlbumsByUserId} from "@/axios/albums";
import {getTodosByUserId} from "@/axios/todos";

export default {
  name: "User",
  components: {VList},
  data: () => ({
    user: {},
    posts: [],
    albums: [],
    todos: [],
    limit: 5
  }),
  created() {
    const userId = this.$route.params.id
    this.getUser(userId)
        .then((user) => {
          this.getPosts(user.id)
          this.getAblums(user.id)
          this.getTodos(user.id)
        })
  },
  methods: {
    getUser(id) {
      return this.$http.get(`/users/${id}`)
          .then(({data: user}) => {
            this.user = user
            return user
          })
    },

    getPosts(userId) {
      getPostsByUserId(this.$http, userId, {_limit:this.limit})
      .then(posts=>this.posts = posts)
    },

    getAblums(userId) {
      getAlbumsByUserId(this.$http,userId,{_limit:this.limit})
      .then(albums=>this.albums = albums)
    },

    getTodos(userId) {
      getTodosByUserId(this.$http, userId,{_limit:this.limit})
      .then(todos=>this.todos = todos)
    }
  }
}
</script>

<style scoped>

</style>