<template>
  <b-list-group>
    <b-list-group-item v-for="item of items" :key="item[fieldKey]">
      <slot :item="item">
        {{ item[fieldText] || item }}
      </slot>

    </b-list-group-item>
  </b-list-group>
</template>

<script>
export default {
  name: "VList",
  props:{
    items:{
      type: Array,
      required: true
    },
    fieldText:{
      type: String,
      default: ''
    },
    fieldKey:{
      type: String,
      default: 'id'
    }
  }
}
</script>

<style scoped>

</style>