<template>
  <b-card
      :title="name"
      tag="div"
      class="mb-2"
  >
    <b-card-text>
      <p>{{ email }}</p>
      <p>{{ phone }}</p>
    </b-card-text>
    <div class="d-flex justify-content-between">
      <b-button variant="success" v-on:click="edit" >
        <b-icon-pen  />
      </b-button>
      <router-link :to="{name:'user', params:{id:id}}" class="btn btn-info text-white p-2">Show user</router-link>
    </div>

  </b-card>
</template>

<script>
export default {
  name: "VUserCard",
  props: {
    name: {},
    email: {},
    phone: {},
    id: {}
  },
  methods:{
    edit(){
      this.$emit('edit', this.id)
    }
  }
}
</script>

<style scoped>

</style>