<template>
  <div id="app" class="h-100 row mx-0 px-3">

    <div class="col-4">
      <v-list
          :items="menuItems">
        <template  v-slot="{item}">
          <router-link :to="item.url">{{  item.label }}</router-link>
        </template>

      </v-list>
    </div>
    <div class="col-8">

      <router-view/>
    </div>

  </div>
</template>

<script>


import VList from "@/components/VList";

export default {
  name: 'App',
  data: () => ({
    menuItems: [
      {label: 'Home', url: '/'},
      {label: 'About Us', url: '/about-us'},
      {label: 'Contacts', url: '/contacts'}
    ]
  }),
  components: {VList}
}
</script>

<style lang="scss">

</style>
